<div class="homepage">
<h1>MARATHON TRACKER</h1>
<p id="home-text">Trust the process</p>


{{#if user}}
<div class="profile-show">

{{!-- <h2 id="ready">Are you ready {{user.username}}?</h2> --}}
<br>
    <button class="view-trainings-button">
        <a href="/trainings" id="button-link" >View your trainings 
		<br>
		{{user.username}}
		</a>
    </button>
</div>

{{else}}
<!--LOGIN !-->
<container id="home-divided">	
	<div class="card">
<div id="login-form">
  <h2>Log In</h2>
  <form action="/auth/login" method="POST">
<div class="username-password">
    <label> Username
      <input type="text" name="username" placeholder="Your username" autocomplete="off" />
    </label>
</div>

   <div class="username-password"> 
		<label> Password
      		<input type="password" name="password" placeholder="Your password" autocomplete="off" />
    	</label>
	</div>

    <div><button id="button-login" type="submit">Log In</button></div>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
</div>
<!--signup !-->
<div class="card">
<div id="signup-form">
<div id="login-form">
 <h2>Sign Up</h2>
 <div id="register">Register your account.</div>
  <div id="enjoy">Enjoy the Tracker.</div>
  <form action="/auth/signup" method="POST">
	<div id="hidden">
    <label> Username 
      <input type="text" name="username" placeholder="Your username" />
		</label>


    <label> Password
      <input type="password" name="password" placeholder="Your password" />
    </label></div>

    <button id="button-signup" type="submit">Sign Up</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
  {{/if}}
</div>
</div>
</div>
</container>


</div>




