<div class="homepage">
<h1>FITNESS TRACKER</h1>
<p id="home-text">Trust the process</p>


{{#if user}}
<h2>Are you ready {{user.username}}?</h2>
    <button>
        <a href="/auth/profile">Visit your Profile</a>
    </button>


{{else}}
<!--LOGIN !-->
<container id="home-divided">
<div id="login-form">
  <h2>Log In</h2>
  <form action="/auth/login" method="POST">
<div>
    <label> Username
      <input type="text" name="username" placeholder="Your username" autocomplete="off" />
    </label>
</div>

   <div> <label> Password
      <input type="password" name="password" placeholder="Your password" autocomplete="off" />
    </label></div>

    <div><button id="button-login" type="submit">Log In</button></div>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>

<!--signup !-->
<div id="signup-form">
<div id="form">
 <h2>Sign Up</h2>
 <div id="register">Register your account.</div>
  <div id="enjoy">Enjoy the Tracker.</div>
  <form action="/auth/signup" method="POST">
	<div id="hidden">
    <label> Username
      <input type="text" name="username" placeholder="Your username" />
    </label>


    <label> Password
      <input type="password" name="password" placeholder="Your password" />
    </label></div>

    <button id="button-signup" type="submit">Sign Up</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
  {{/if}}
</div>
</div>
</container>


</div>

















<!-- <h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>

<div id="to-right">
    <button><a href="/auth/signup">Sign up</a></button>

    <form action="/auth/login" method="GET" id="login-form">
    <button>Log in</button>
    </form>
    


</div>!--> 

	<!--
	<div class="section">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section pb-5 pt-5 pt-sm-2 text-center">
						<h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
			          	<input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
			          	<label for="reg-log"></label>
						<div class="card-3d-wrap mx-auto">
							<div class="card-3d-wrapper">
								<div class="card-front">
									<div class="center-wrap">
										<div class="section text-center">
											<h4 class="mb-4 pb-3">Log In</h4>

                                                <div class="form-group mt-2">
												<input type="text" name="logname" class="form-style" placeholder="Name" id="logname" autocomplete="off">
												<i class="input-icon uil uil-user"></i>
											    </div>

											<div class="form-group">
												<input type="email" name="logemail" class="form-style" placeholder="Email" id="logemail" autocomplete="off">
												<i class="input-icon uil uil-at"></i>
											</div>
                                            	
											<div class="form-group mt-2">
												<input type="password" name="logpass" class="form-style" placeholder="Password" id="logpass" autocomplete="off">
												<i class="input-icon uil uil-lock-alt"></i>
											</div>
                                                <form action="/auth/login" method="GET" id="login-form">
                                                <button>Submit</button>
                                                </form>

											<a href="#" class="btn mt-4">submit</a> 
                            				
								<div class="card-back">
									<div class="center-wrap">
										<div class="section text-center">
											<h4 class="mb-4 pb-3">Sign Up</h4>
											<div class="form-group">
												<input type="text" name="logname" class="form-style" placeholder="Name" id="logname" autocomplete="off">
												<i class="input-icon uil uil-user"></i>
											</div>	
											<div class="form-group mt-2">
												<input type="email" name="logemail" class="form-style" placeholder="Email" id="logemail" autocomplete="off">
												<i class="input-icon uil uil-at"></i>
											</div>	
											<div class="form-group mt-2">
												<input type="password" name="logpass" class="form-style" placeholder="Password" id="logpass" autocomplete="off">
												<i class="input-icon uil uil-lock-alt"></i>
											</div>
                                            <button><a href="/auth/signup">Sign up</a></button>
											 <a href="#" class="btn mt-4">submit</a>
				      					</div>
			      					</div>
			      				</div>
			      			</div>
			      		</div>
			      	</div>
		      	</div>
	      	</div>
	    </div>
	</div> 
    
    !>