<div class="container">
    <h2>Edit {{training.goal}}</h2>
    <form action="/trainings/{{training._id}}/edit" method="POST">
        <label for="goal">Goal: </label>
        <input type="text" name="goal" id="goal" value="{{training.goal}}">

        <label for="days">Days: </label>
        <input type="date" name="days" id="days" value="{{training.days}}">

        <label for="level">Level: </label>
        <input type="text" name="level" id="level" value="{{training.level}}">

        <label for="description">Description: </label>
        <input type="text" name="description" id="description" value="{{training.description}}">

        <label for="other">other: </label>
        <input type="checkbox" name="other" id="other" value="{{training.other}}">

        <button type="submit">Save</button>
    </form>
</div>