<div class="container">
    <h2>Edit {{training.exercise}}</h2>
    <form action="/trainings/{{training._id}}/edit" method="POST">
        <label for="exercise">Exercise: </label>
        <input type="text" name="exercise" id="exercise" value="{{training.exercise}}">

        <label for="date">Date: </label>
        <input type="date" name="date" id="date" value="{{training.date}}">

        <label for="sets">Sets: </label>
        <input type="text" name="sets" id="sets" value="{{training.sets}}">

        <label for="reps">Reps: </label>
        <input type="text" name="reps" id="reps" value="{{training.reps}}">


        <button type="submit">Save</button>
    </form>
</div>