<div class="container-detail">
    <h1 id="detail-title">Training details</h1>
    <div><b>Date:</b> {{newTraining.date}}</div>
    <div><b>Distance:</b> {{newTraining.distance}} km</div>
    <div><b>Time:</b> {{newTraining.time}} min</div>
    <div><b>Pace:</b> {{newTraining.pace}} min/km</div>
    <div class="button-details">
        <div>
            <a class="save-button" href="/trainings/{{newTraining._id}}/edit">Edit {{newTraining.edit}}</a>
        </div>
        <form action="/trainings/{{newTraining._id}}/delete" method="POST">
                <div>
                    <button type="submit" class="delete-card"> <b> Delete </b> {{newTraining.delete}}</button>
                </div>
        </form>
    
    </div>
</div>
