
<div class="container-detail">
    <h1 id="detail-title">Training detail</h1>
        <p><b>Date:</b> {{newTraining.date}}</p>
        <p><b>Distance:</b> {{newTraining.distance}}</p>
        <p><b>Time:</b> {{newTraining.time}}</p>
        <p><b>Pace:</b> {{newTraining.pace}}</p>
        <button><a href="/trainings/{{newTraining._id}}/edit">Edit {{newTraining.exercise}}</a></button>
        <form action="/trainings/{{newTraining._id}}/delete" method="POST">
            <button type="submit">Delete {{newTraining.exercise}}</button>
        </form>
</div>
    <button><a href="/trainings">Back to trainings</a></button>