<container id="container-trainings">
<div class="container">
    <h1>Training detail</h1>
    <p><b>Exercise:</b> {{training.exercise}}</p>
    <p><b>Date:</b> {{training.date}}</p>
    <p><b>Sets:</b> {{training.sets}}</p>
    <p><b>Reps:</b> {{training.reps}}</p>
    <button><a href="/trainings/{{training._id}}/edit">Edit {{training.exercise}}</a></button>
    <form action="/trainings/{{training._id}}/delete" method="POST">
        <button type="submit">Delete {{training.exercise}}</button>
    </form>
</div></container>
    <button><a href="/trainings">Back to trainings</a></button>