<div class="container-detail">
    <h1 id="detail-title">Training detail</h1></br></br>
        <div><b>Date:</b> {{newTraining.date}}</div></br>
        <div><b>Distance:</b> {{newTraining.distance}} km</div></br>
        <div><b>Time:</b> {{newTraining.time}} min</div></br>
        <div><b>Pace:</b> {{newTraining.pace}} min/km</div></br>
        <div class="button-details">
        <div><a class="edit-delete" href="/trainings/{{newTraining._id}}/edit">Edit {{newTraining.edit}}</a></div>
        <form action="/trainings/{{newTraining._id}}/delete" method="POST">
           <div><button type="submit" class="delete-card">Delete {{newTraining.delete}}</button></div>
        </form>
    <div><a class="edit-delete" href="/trainings">Trainings</a></div>
</div>
